@import "tailwindcss";

@theme {
  --color-primary-fixed-dim: #00daf3;
  --color-primary-container: #00e5ff;
  --color-surface-container-low: #1c1b1b;
  --color-background: #131313;
}

body {
  background-color: #131313;
  color: #e5e2e1;
  font-family: 'Inter', sans-serif;
}